<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Shreds.MwlServer.CCRisQueryConnector.Uhn.MwlFilterSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Shreds.MwlServer.CCRisQueryConnector.Uhn.MwlFilterSettings>
            <setting name="BreastImagingUltrasoundProcedureIDs" serializeAs="String">
                <value>0114007,0114008,0114009,0114012</value>
            </setting>
            <setting name="TagReplacementRules" serializeAs="String">
                <value>-- This setting contains a list of tag replacement rules in the following format.  Tabs and spaces will be trimmed.
-- AETitle, (group, element), "New Value"
-- The new value must match the value representation (VR) of the particular Dicom tag being written
-- Otherwise the new value will not be written.

ModalitySCU, (0040,0001), "ModalitySCU"	-- Scheduled Station AE Title</value>
            </setting>
        </ClearCanvas.Ris.Shreds.MwlServer.CCRisQueryConnector.Uhn.MwlFilterSettings>
    </applicationSettings>
</configuration>