<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Desktop.Executable.PacsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Desktop.Executable.PacsSettings>
      <setting name="IsPacsLogin" serializeAs="String">
        <value>2OOA87rlvv0=</value>
      </setting>
    </ClearCanvas.Desktop.Executable.PacsSettings>
    <ClearCanvas.Common.ProductSettings>
      <setting name="VersionSuffix" serializeAs="String">
        <value>UOJ8UkT6iY5JSfoZqKYIrh/E/dS2bJpI</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>mHJVrAAv4DE=</value>
      </setting>
    </ClearCanvas.Common.ProductSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="common;plugins" />
    </assemblyBinding>
  </runtime>
</configuration>