<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Shreds.Fax.ReceivedFaxShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Shreds.Fax.ReceivedFaxShredSettings>
            <setting name="BatchSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="EmptyQueueSleepTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FailedItemRetryDelay" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FailedItemRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MetaDataFileExtension" serializeAs="String">
                <value>fmd</value>
            </setting>
            <setting name="ImageDataFileExtension" serializeAs="String">
                <value>pdf</value>
            </setting>
            <setting name="MetaDataDelimiters" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="IncomingFaxDirectory" serializeAs="String">
                <value>C:\Documents and Settings\All Users\Application Data\ClearCanvas_Inc\IncomingFax</value>
            </setting>
            <setting name="ReceivedFaxWorkQueueItemDirectory" serializeAs="String">
                <value>C:\Documents and Settings\All Users\Application Data\ClearCanvas_Inc\ReceivedFaxWorkQueueItem</value>
            </setting>
        </ClearCanvas.Ris.Shreds.Fax.ReceivedFaxShredSettings>
    </applicationSettings>
</configuration>