<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Billing.BillingOptionSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.Ris.Billing.BillingOptionSetting>
            <setting name="PrimaryCurrency" serializeAs="String">
                <value>USD</value>
            </setting>
            <setting name="SystemLanguague" serializeAs="String">
                <value>EN</value>
            </setting>
        </ClearCanvas.Ris.Billing.BillingOptionSetting>
    </userSettings>
</configuration>