<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClearCanvas.Ris.Client.View.WinForms.Billing.Properties.Settings.RisConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Ris;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>